* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans Regular', sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo, a {
    font-size: 50px;
    font-weight: bold;
    float: left;
    color: #0F3D3E;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky; 
    position: -webkit-sticky;
    top: 0;
    background: beige;
    z-index: 1;
    border-bottom: 2px solid #525252;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url(OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'Nexa Regular';
    src: url(nexa_regular.otf);
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.prolog {
    margin-top: 50px;
    margin-bottom: 50px;
}

.prolog .desc {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Nexa Regular';
    color: #0F3D3E;
}

h2 {
    font-family: 'Nexa Regular';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #100720;
    width: 100%;
    line-height: 50px;
}

